NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

ACCESSTRADE_API_KEY=
ACCESSTRADE_SECRET=
ENABLE_ACCESSTRADE_INTEGRATION=false
ACCESSTRADE_CAMPAIGN_SHOPEE_ID=
ACCESSTRADE_CAMPAIGN_LAZADA_ID=
ACCESSTRADE_CAMPAIGN_TIKTOK_ID=
ACCESSTRADE_CAMPAIGN_TIKI_ID=

RESEND_API_KEY=

NEXT_PUBLIC_ENABLE_REFERRALS=false
NEXT_PUBLIC_ENABLE_CLAIMS=true
